<form action="/Customer/Save" method="post">
    <div class="mb-3">
        <label class="form-label">CustomerName</label>
        <input type="text" class="form-control" id="CustomerName" name="CustomerName">
    </div>
    <div class="mb-3">
        <label class="form-label">PhoneNo</label>
        <input type="text" class="form-control" id="PhoneNo" name="PhoneNo">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" id="Gender" name="Gender">
    </div>
    <div class="mb-3">
        <label class="form-label">DateOfbirth</label>
        <input type="text" class="form-control" id="DateOfbirth" name="DateOfbirth">
    </div>
    <a href="Customer/Customer" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>
