<form action="/Customer/Save" method="post">
    <div class="mb-3">
        <label class="form-label">CustomerName</label>
        <input type="text" class="form-control" id="CustomerName" name="CustomerName">
    </div>
    <div class="mb-3">
        <label class="form-label">PhoneNo</label>
        <input type="text" class="form-control" id="PhoneNo" name="PhoneNo">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select class="form-control" id="Gender" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Birthday:</label>
        <input type="date" class="form-control" id="DateOfbirth" name="DateOfbirth">
    </div>
    <a href="Customer/Customer" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>
